#form{
    background-color:bisque;
    margin:0px;
    padding:0px;
}
    table {
    border: 2px solid #555;
    border-collapse: collapse;
    font: 16px "Lucida Grande", "Helvetica", "Arial", sans-serif;
  }

  

  #first-name{
      margin-left:20px;
  }
  #last-name{
      margin-left:20px;
  }
  #address{
      margin-left:35px;
  }
  #pincode{
      margin-left: 35px;
  }
  #gender{
      margin-left:39px;
  }
  #states{
      margin-left:50px;
  }
  #country{
      margin-left:32px;
  }